
singularity {

    enabled                     = true

    envWhitelist                = "APPS,UUFSCELL,DATA,USCRATCH,REPOSITORY,PROCESSING,ANALYSIS,SLURM_CPUS_ON_NODE,SLURM_JOB_ID,USER"

    autoMounts                  = true

    runOptions                 	= '-B "$TMPDIR"'

}

profiles {
	
	standard {
		
	}

	gene_lvl {
		
	}

	transcript_lvl {
		
	}

	cellranger {
		
	}

	small_rna {
		
	}

	mirna {
		
	}

}

process {

	withLabel: local {

    	executor				= 'local'

		container				= ''

    }

    withLabel: bowtie {

    	executor				= 'slurm'

    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw -N 1'

    	errorStrategy			= 'retry'
    	
    	maxRetries				= 10

    	container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/rnaseq_processing/rnaseq_processing_bowtie.sif"

    }

    withLabel: cellranger {

    	executor				= 'slurm'

    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw -N 1'

    	errorStrategy			= 'retry'
    	
    	maxRetries				= 10

    	container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/rnaseq_processing/rnaseq_processing_cellranger.sif"

    }

    withLabel: kallisto {

    	executor				= 'slurm'

    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw -N 1'

    	errorStrategy			= 'retry'
    	
    	maxRetries				= 10

    	container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/rnaseq_processing/rnaseq_processing_kallisto.sif"

    }

    withLabel: python {

    	executor				= 'slurm'

    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw -N 1'

    	errorStrategy			= 'retry'
    	
    	maxRetries				= 10

    	container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/rnaseq_processing/rnaseq_processing_python.sif"

    }

    withLabel: r {

    	executor				= 'slurm'

    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw -N 1'

    	errorStrategy			= 'retry'
    	
    	maxRetries				= 10

    	container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/rnaseq_processing/rnaseq_processing_r.sif"

    }

    withLabel: star {

    	executor				= 'slurm'

    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw --qos ucgd-long-rw -N 1 --mem=100G'

    	errorStrategy			= 'retry'
    	
    	maxRetries				= 10

    	container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/rnaseq_processing/rnaseq_processing_star.sif"

    }

    withLabel: subread {

    	executor				= 'slurm'

    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw -N 1'

    	errorStrategy			= 'retry'
    	
    	maxRetries				= 10

    	container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/rnaseq_processing/rnaseq_processing_subread.sif"

    }

    withLabel: trimming {

    	executor				= 'slurm'

    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw -N 1'

    	errorStrategy			= 'retry'
    	
    	maxRetries				= 10

    	container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/rnaseq_processing/rnaseq_processing_trimming.sif"

    }

}

params {
    
	// Main resources paths/variables
	metadata_path				= "/path/to/metadata"
	species						= "Homo_sapiens"
	genome_fasta_path			= "/path/to/genome/fasta"
	genome_annotation_path		= "/path/to/genome/annotation"
	star_index_dir				= "/path/to/star/index/directory"
	transcripts_fasta_path		= "/path/to/transcripts/fasta"
	kallisto_index_path			= "/path/to/kallisto/index"
	cellranger_index_dir		= "/path/to/cellranger/index"
	bowtie_index_prefix			= "bowtie_index"
	bowtie_index_dir			= "/path/to/bowtie2/index"

	// Main output directories
	resources_dir				= "0_resources"
	reports_dir					= "0_reports"
	fastqc_subdir				= "fastqc"
	trimming_subdir				= "trimming"
	star_reports				= "star_run"
	bowtie_summary				= "bowtie_alignment_summary"
	exons_summary				= "exon_alignment_summary"

	cellranger_ouput_dir		= "1_cellranger_output"
	single_cell_analysis		= "2_single_cell_analysis"
	
	bam_dir						= "1_bam"
	gene_counts_dir				= "2_gene_counts"
	deseq_dir					= "3_deseq2"
	deseq_plots					= "deseq_qc_plots"
	enrichment_dir				= "4_gene_enrichment"
	enriched_terms_dir			= "enriched_terms"
	enriched_go_terms_dir		= "enriched_go_terms"
	gsea_terms_dir				= "gsea_terms"
	gsea_terms_plots			= "plots"
	gsea_go_terms_dir			= "gsea_go_terms"
	gsea_go_terms_plots			= "plots"
	clusterprofiler_rdata		= "r_data"

	transcript_counts_dir		= "2_transcript_counts"
	sleuth_dir					= "3_sleuth"
	sleuth_plots				= "sleuth_qc_plots"

	exon_counts_dir				= "2_exon_counts"
	dexseq_dir					= "3_dexseq"
	dexseq_plots				= "dexseq_qc_plots"

	dexseq_sleuth_integration	= "4_dexseq_sleuth_integration"
	common_genes_dir			= "common_genes"

	// Initializing the alignment_only parameter to true (can be overridden from command line)
	alignment_only				= true

	// Trim reads before STAR alignment for standard, gene-lvl, and transcript-lvl?
	trim_reads					= false

	// Parameters for STAR index
	read_length					= 150
	saindexnbases				= 14

	// BAM counting with STAR quantMode or featureCounts
	strand						= "unstranded" // Possible values: unstranded, stranded, reversestrand
	
	// DESeq2 differential gene expression analysis parameters
	min_counts					= 10

	// Differential gene expression filtering
	pval_threshold				= 0.05
	log2fc_threshold			= 0.5

	// Parameters for Cellranger
	chemistry					= "auto"

	// Parameters for TrimGalore as a single line of text
	// Common parameters:
	// --adapter                = Adapter sequence
	// --length					= Discard reads that became shorter than specified bp after trimming
	// --max_length				= Discard reads that are longer than specified bp after trimming (only for single-end reads)
	// --stringency				= Overlap in bp with adapter sequence required to trim a sequence
	// --clip_R1				= Remove bp from the 5' end of read 1 (or single-end reads)
	// --clip_R2				= Remove bp from the 5' end of read 2 (paired-end reads only)
	// --three_prime_clip_R1	= Remove bp from the 3' end of read 1 (or single-end reads) AFTER adapter/quality trimming has been performed
	// --three_prime_clip_R2	= Remove bp from the 3' end of read 2 (paired-end reads only) AFTER adapter/quality trimming has been performed
	trimgalore_params			= "--length 15"

}